{{#results}}
<h1 id="translation">{{{translation}}}</h1>

<div class="expression-images">
  {{#images}}
  <img class="thumb" src="{{{url}}}" /> 
  {{/images}}
</div>

<h2>Definition</h2>

{{#definitions}}
<p>{{{.}}}</p>
{{/definitions}}
{{/results}}

{{#error}}
<div class="error">Sorry, an error has occurred: {{error}}</div>
{{/error}}
