<div class="languages">
  <select class="source">
    {{#languages}}
    <option value="{{code}}">{{name}}</option>
    {{/languages}}
  </select>
  &rarr;
  <select class="target">
    <!-- TODO: Remove code duplication - how do we reference a partial template file for the build? -->
    {{#languages}}
    <option value="{{code}}">{{name}}</option>
    {{/languages}}
  </select>
</div>

{{#results}}
<h1 id="translation">{{{translation}}}</h1>

<div class="expression-images">
  {{#images}}
  <img class="thumb" src="{{{url}}}" />
  {{/images}}
</div>

{{#definitions}}
<div class="expression-definition">
  <h2>{{word}}: {{^sentences}}<small><i>(sorry, no definitions found)</i></small>{{/sentences}}</h2>
  <ol>
    {{#sentences}}
    <li>{{{.}}}</li>
    {{/sentences}}
  </ol>
</div>
{{/definitions}}
{{/results}}

{{#error}}
<div class="error">Sorry, an error has occurred: {{error}}</div>
{{/error}}
