<form action='result.html' class="search-form" method="get">
  <input class="search-text" name="q" placeholder="Word or expression to translate" type="text" value="{{searchText}}" />
  <button class="search-button" type="submit"><span>Lookup</span></button>
</form>
